#img-logo-header {
    width: calc(63 / 1920 * 100vw);
    height: 67px;
    object-fit: contain;
}
#text-logo-header {
    width: calc(200 / 1920 * 100vw);
    height: 27px;
    object-fit: contain;
}

h1 {
    font-size: calc(150 / 1920 * 100vw);
}

h2.banner-heading {
    text-align: center;
    font-size: calc(150 / 1920 * 100vw);
    color: white;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 500;
}

.banner-text p {
    opacity: 0;
}

.mobile-img {
    opacity: 0;
    visibility: hidden;
}

.book-intro {
    overflow: hidden;
}

#overflow-book-intro {
    overflow: hidden;
}

.our-clients {
    background: #001569;
    padding: 0;
    border-radius: 50%;
    scale: 0.2;
    overflow: hidden;
}

.clinets-center{
    width: 1300px;
    height: 1300px;
    border-radius: 50%;
    border: 30px solid white;
    position: relative; 
    visibility: hidden;
}

h2.get-clients {
    position: absolute;
    border: none;
    visibility: hidden;
}

.test-date-img {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#prev-img-testimonial {
    scale: 0.5;
    transform-origin: bottom left;
}

#prev-img-testimonial2 {
    scale: 0.5;
    transform-origin: bottom left;
}

#next-img-btn {
    position: absolute;
    left: calc(20 / 1920 * 100vw);
    bottom: calc(40 / 1920 * 100vw);
    width: calc(58 / 1920 * 100vw);
    height: calc(58 / 1920 * 100vw);
}

.top-text {
    padding-top: 20px;
}

.ceo-sec {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.ceo-img {
    scale: 0.5;
};

.clients-sec {
    background: linear-gradient(0deg, #001569 50%, #1C89D6 100%);
}

#clientes-sec-logos {
    visibility: hidden;
}