#img-logo-header {
    width: calc(63 / 1920 * 100vw);
    height: 67px;
    object-fit: contain;
}
#text-logo-header {
    width: calc(200 / 1920 * 100vw);
    height: 27px;
    object-fit: contain;
}

h1 {
    font-size: calc(150 / 1920 * 100vw);
}

h2.banner-heading {
    text-align: center;
    font-size: calc(150 / 1920 * 100vw);
    color: white;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 500;
}

.banner-text p {
    opacity: 0;
}

.mobile-img {
    opacity: 0;
    visibility: hidden;
}

.our-clients {
    background: #001569;
    padding: 0;
    border-radius: 50%;
    scale: 0.2;
    overflow: hidden;
}

.clinets-center{
    width: 1300px;
    height: 1300px;
    border-radius: 50%;
    border: 30px solid white;
    position: relative; 
    visibility: hidden;
}

h2.get-clients {
    position: absolute;
    border: none;
    visibility: hidden;
}